.exitions{
  margin-bottom: 120px;
}

.exitions__photo{
  width: 300px;
  height: 300px;
}


.exitions__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.exitions__block-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  
  width: 300px;
  color: #000000;
}

.exitions__block-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  width: 300px;

  
  color: #000000;
}

.exitions__block-link{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  
  color: #4137D0;
}